@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

p {
    background-color: #000;
    color: #fff;
    white-space: pre-wrap;
    line-height: 1.1;
    flex: 0 1 auto;
   margin-bottom: 0px !important;
   max-width: 700px;
   span {
       font-size: 1.5rem;
       color: red;
       scroll-margin-top: 67px;
   }
}
.images {
    flex: 1 0 auto;
    background-color:#000;
    img {
        margin: 0 0 0 auto;

    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.navbar {
    user-select: none; 
}
.hr {
    margin: 0 !important;
    height: 30px !important;
    background-color: red !important;
    opacity: 1 !important;
}

#navbarNavDropdown {
    font-size: 12px;
}

@media (max-width:1000px) {
    .navbar  {
       display: none !important;
    }
    .help {
        display: none;
    }
    .wrapper {
        
        p {
            display: none;
        }
        img {
            margin: 0 !important;
        }
    }
    
}
